<!-- Backup stuff -->

<!--

<table class="main_table">

        <tr>
                <th>All nodes \ T1 nodes</th>
                #for $node in $dto["tier_one"]
                        <th>$node.shortname</th>
                #end for
        </tr>

        #for $node in $dto["nodes"]
        <tr>
                <th>$node.shortname</th>

                #for $i in range(len($dto["tier_one"]))
                        #for $link in $node.bidir_links_with_t1s
                                #if $dto["tier_one"][$i] == $link.to_node
                                        #if $link.from_node == $link.to_node
                                                <td class="link_with_itself">&nbsp;</td>
                                        #else
                                                <td class="bidirectional_cell">
                                                        <table class="inner_table">


                                                                #if $link.from_link != None
                                                                        <tr><td class="link_cell" id="$link.from_link.state.name.lower()">
                                                                                <a href="$link.from_link.url_to_graph">From:</a>
                                                                                        $link.from_link.link_string
                                                                        </td></tr>
                                                                #else
                                                                        <tr><td class="link_cell">-</td></tr>
                                                                #end if


                                                                #if $link.to_link != None
                                                                        <tr><td class="link_cell" id="$link.to_link.state.name.lower()">
                                                                                <a href="$link.to_link.url_to_graph">To:</a>
                                                                                        $link.to_link.link_string
                                                                        </td></tr>
                                                                #else
                                                                        <tr><td class="link_cell">-</td></tr>
                                                                #end if

                                                        </table>
                                                </td>
                                        #end if

                                #end if
                        #end for
                #end for
        </tr>

        #end for
</table>

<br /><br />
-->
</body>
</html>
