<?xml version="1.0" encoding='UTF-8'?>
<!DOCTYPE links>
<links>
    #for $link in $links
        #set $isCommissioned = str($link.state.state == 'COMMISSIONED')
        <link from="$link.from_node.name" to="$link.to_node.name"> $isCommissioned </link>
    #end for
</links>
